html,body { height: 100%; margin: 0px; padding: 0px; }

div {
    font-family: arial;
    font-size: 48px;
}

.menu {
    position:fixed;
    top:0;
    right:0;

    font-family: courier new;
    font-size: 24px;
}
.menu-open {
    display:flex;
}

.debug { 
    position:fixed;
    bottom: 0;
}

.debug > div {
    font-family: courier new;
    font-size: 24px;
}

.sections {
    display:flex;
    flex-orientation: row;
}

.section {
    background-color:green;
    width:50%;
}

#app, .application { height: 100%; }

.application { display: flex; 
               flex-orientation: column; }

.slide-container {
    padding:5%;
    flex-grow: 1;
    overflow:hidden;
    line-height:1.75;
    background-size:cover;
    background-repeat:no-repeat;
}
